<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="LeDoyenEntities" connectionString="metadata=res://*/Entity.DataModel.csdl|res://*/Entity.DataModel.ssdl|res://*/Entity.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=LeDoyen;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="LeDoyen" connectionString="Data Source=.;Initial Catalog=LeDoyen;Integrated Security=True;Connect Timeout=120;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>